<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./home.css">
  <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"/>
</head>
<body>
    <section id="header">
       <div>
          <a href="#"><img src="https://27b67461b6f5b0ef0f7f-4ed8056a596c81d3dd354ce52d883b92.ssl.cf3.rackcdn.com/x.dev/x/images/products/uploads/Rex_Logo_RGB_Primary.png" class="logo" alt=""></a>
        </div>

        <div>
            <ul id="navbar">
              <li><a class="active" href="/">Home</a></li>
              <li><a href="/product">Product</a></li>
              <li><a href="/about">About</a></li>
              <li id="lg-cart"><a href="/cart"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg></a></li>
              <li><a href="/sign_in">Login</a></li>
              <li><a href="/contact">Contact Us</a></li>
              <li><a href="/register">Sign up</a></li>
              <a href="#" id="close"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16" color="1a1a1a">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
              </svg></a>
            </ul>
        </div>
        <div id="mobile">
          <a href="/cart"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16" color="black">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg></a>
          <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <section id="hero">
        <h4>Trade-in-offer</h4>
        <h3>Super value deals</h3>
        <h1>On all products</h1>
        <p>Save more with coupons & up to 70% off!</p>
        <button>Shop Now</button>
    </section>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="https://img.freepik.com/premium-vector/fast-delivery-truck-with-motion-lines-online-delivery-express-delivery-quick-move-fast-shipping-truck-apps-websites-cargo-van-moving-fast-chronometer-fast-distribution-service-24-7_435184-654.jpg?w=2000" alt="">
            <h6>Free Shipping</h6>
        </div>

        <div class="fe-box">
            <img src="https://fragrant.mobiletransaction.org/wp-content/uploads/2022/03/online-ordering-illustration.jpg" alt="">
            <h6>Online Order</h6>
        </div>

        <div class="fe-box">
            <img src="https://img.freepik.com/free-vector/family-couple-saving-money_74855-5240.jpg?w=2000" alt="">
            <h6>Save Money</h6>
        </div>

        <div class="fe-box">
            <img src="https://www.insperity.com/wp-content/uploads/Promotion_policy_1200x630-1024x538.png" alt="">
            <h6>Promotion</h6>
        </div>

        <div class="fe-box">
            <img src="https://elements-cover-images-0.imgix.net/61e0e52f-2f4f-4787-b7ca-3ed8aeeec517?auto=compress&crop=edges&fit=crop&fm=jpeg&h=630&w=1200&s=144d78623d81de169cf9c41a9c517ed5" alt="">
            <h6>Happy Sale</h6>
        </div>

        <div class="fe-box">
            <img src="https://fluentsupport.com/wp-content/uploads/2022/02/Difference-between-Customer-Support-and-Customer-Service-01-scaled.jpg" alt="">
            <h6>Support</h6>
        </div>

    </section>

    <section id="product1" class="section-p1">
        <h2>Featured Products</h2>
        <p>Rex Collection New Modern Design</p>
        <span>New Arrival</span>
        
        <div class="container-fluid">
            <div class="row">
              
          <% for (let i = 0; i < products.length; i++) { %>
           <% const product =products[i]; %>
           <% if (i > 7) break; %>
           <div class="col-md-3">
            <div class="pro-container">
              <div class="pro">
                <% if (typeof isAdmin !== 'undefined') { %>
                <div class="admin-controls">
                  <i
                    class="update-btn fa-solid fa-pen"
                    data-bs-toggle="modal"
                    data-bs-target="#updateModal"
                    onclick="updateItemToUpdate('<%= product._id %>')"
                  ></i>
                  <i
                    class="delete-btn fa-sharp fa-solid fa-trash"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteItemModal"
                    onclick="updateItemToDelete('<%= product._id %>')"
                  ></i>
                </div>
                <% } %>
                <img height="170vh" src="<%= product.image %>" alt="" class="product-img" />
                <div class="des">
                  <h5><%= product.name %></h5>
                  <span class="star <%=product.rating %>"></span> <span class="star <%=product.rating %>"></span> 
                  <h4>$<%= product.price %></h4>
                </div>
                <a href="#" class="cart"><i  class="fa fa-shopping-cart" onclick="addToCart('<%= product._id %>')" ></i></a>
              </div>
            </div>
            </div>
          <% } %>
            </div>
          </div>

    </section>

    <section id="newsletter" class="section-p1">
      <div class="newstext">
        <h4>Sign Up For Newsletter</h4>
        <p>Get E-mail updates about our latest shop and <span>special offers</span></p>
      </div>
      <div class="form">
        <input type="text" placeholder="Your email address">
        <button>Sign Up</button>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="wrapper">
          <div class="footer-profile">
            <a href="#">
              <img src="https://27b67461b6f5b0ef0f7f-4ed8056a596c81d3dd354ce52d883b92.ssl.cf3.rackcdn.com/x.dev/x/images/products/uploads/Rex_Logo_RGB_Primary.png" class="imagev" alt="">
            </a>
            <h2>About Us</h2>
            <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, voluptatum quas atque nam autem, quidem illum vitae modi assumenda consectetur officiis est, id aliquam dolor maxime amet laborum deserunt ducimus!</p>
            <ul class="social">
             
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-whatsapp"></i>
                </a>
                <a href="#">
                  <i class="fab fa-youtube"></i>
                </a>
            </ul>
          </div>
          <div class="footer-account">
            <h2>Account</h2>
            <ul class="links">
              <li><a href="#">Log In</a></li>
              <li><a href="#">View Cart</a></li>
              <li><a href="#">Sign Up</a></li>
            </ul>
          </div>
          <div class="footer-shop">
            <h2>Shop</h2>
            <ul class="links">
              <li><a href="/product">Product</a></li>
              <li><a href="/Terms">Terms &  Conditions</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </ul>
          </div>
          <!-- <div class="footer-install">
            <h2>Install App</h2>
            <p>From App Store or Google</p>
            <div class="links">
              <img src="https://www.freepnglogos.com/uploads/app-store-logo-png/google-play-and-apple-app-store-logos-22.png" width="80%" height="30px">
            </div>
            <p class="secure">Secured Payment</p>
            <img src="https://www.nicepng.com/png/detail/54-542683_credit-card-pay-now-visa-and-mastercard-accepted.png" width="35%" height="30px" alt="">
          </div> -->

          <hr>
        </div>
      </div>
    </footer>
    <script src="/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>