<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/product_details.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body>
    <section id="header">
      <div>
        <a href="#"
          ><img
            src="https://27b67461b6f5b0ef0f7f-4ed8056a596c81d3dd354ce52d883b92.ssl.cf3.rackcdn.com/x.dev/x/images/products/uploads/Rex_Logo_RGB_Primary.png"
            class="logo"
            alt=""
        /></a>
      </div>

      <div>
        <ul id="navbar">
          <li><a href="/">Home</a></li>
          <li><a class="active" href="/product">Product</a></li>
          <li><a href="/about">About</a></li>
          <li id="lg-cart">
            <span id="cart-count">0</span>
            <a href="/cart"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg></a>
          </li>
          <li><a href="/sign_in">Login</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/register">Sign up</a></li>
          <a href="#" id="close"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16" color="1a1a1a">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
          </svg></a>
          
        </ul>
      </div>
      <div id="mobile">
        <a href="/cart"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16" color="black">
          <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg></a>
        <i id="bar" class="fas fa-outdent"></i>
      </div>
    </section>
    <div class="container">
      <div class="pro">
        <img
          src="<%= product.image %>"
          height="380px"
          width="40%"
          class="image"
          alt="..."
        />
      </div>

      <div class="stock">
        <h1><%= product.name %></h1>

        <span class="<%=product.rating %>"></span>
        <span class="<%=product.rating %>"></span>
        <span class="<%=product.rating %>"></span>
        <span class="<%=product.rating %>"></span>
        <span class="<%=product.rating %>"></span>

        <h3>$<%=product.price %></h3>

        <h4>Availability:<span> In Stock</span></h4>
        <h4>Condition:<span> New</span></h4>
        <a href=""
          ><button onclick="addToCart('<%= product._id %>')">
            Add To Cart
          </button></a
        >
      </div>
    </div>

    <script src="/script.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    
  </body>
</html>
